.subscribe-header {
 margin-top: 16%;

 @media screen and (min-width: 500px) {
  margin-top: 4%;
 }
}

.available-soon {
  font-size: 24px;
  margin-top: 2px;
  font-weight: lighter;
}

.available {
  font-size: 24px;
  margin-top: 30px;
}

