<div class="footersimple">
  <div class="footer-links border-footer">
    <a href="team"><img src="<%= asset_path 'apple-icon-57x57.png' %>" class="img-footer"/><h2 class="thin-writing">Team <em>WithU</em></h2></a>
  </div>
  <div class="footer-links border-footer">
    <a href="contacts" class= "contacts">Contatti</a>
    <a href="#top" class= "contacts">Torna su</a>
  </div>
</div>
