<a name="top"></a>
<%= render 'shared/navbar' %>

<div class="header-functions">
  <div class="with-u-title d-flex justify-content-center">
    <h1>La nostra<h1 class="with-u ml-2"> Soluzione</h1></h1>
  </div>
  <div class="with-u-title text-center">
    <h1 class="available-soon">Vogliamo darti uno strumento capace di farti sentire <h1 class="with-u ml-2">sicura</h1></h1>
  </div>
  <%= image_tag "schermatawelcome.png", class: "phone-screen-1" %>
  <div class="purple-writing d-flex justify-content-center">
    <h1>Qual'è il<h1 class="with-u ml-2"> problema?</h1></h1>
  </div>
  <div class="purple-writing text-center">
    <h1 class="available-soon">Troppo spesso alle donne capita di sentirsi  <h1 class="with-u ml-2">osservate</h1>ad una fermata dell’autobus oppure <h1 class="with-u ml-2">seguite</h1>mentre tornano a casa.</h1>
  </div>
</div>

<div class="body-functions">
  <div class="purple-writing d-flex justify-content-center">
    <h1>Come aiuta<h1 class="with-u ml-2">WithU?</h1></h1>
  </div>
  <div class="purple-writing text-center">
    <h1 class="available-soon">Vogliamo darti uno strumento capace di farti sentire <h1 class="with-u ml-2">sicura</h1></h1>
  </div>
</div>


<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<%= render 'shared/footer' %>
