<%= render 'shared/navbarblack' %>
<a href="functions">
<div class="photo-issue">
  <div class="text-black">
    <br>
    <br>
    <br>
    <br>
    <br>

    <br>
    <br>
    <br>
    <br>
    <br>
    <h1 id="home" class="text-center" style="text-shadow: 2px 2px 10px black;">Ti sei mai sentita <b>osservata</b> o <b>seguita</b>?</h1>
    <a href="functions" class="btn-black mt-4">Avanti</a>
  </div>
</div>
</a>
