<div class="text-center">
<h2 class="welcome-writing">Premi il logo per iniziare</h2>
<%= link_to issue_path do %> <%= image_tag "with-u-logo2.png", class: "welcome-logo" %> <% end %>
<div class="with-u-title d-flex justify-content-center">
<h1>With<h1 class="with-u">U</h1></h1>
</div>
<h2 class="thin-writing mt-3">Noi siamo con <strong><b>te</b></strong></h2>
</div>
