.footer {
  background: white;
  justify-content: space-between;
  height: 190px;
  padding: 0px 25px;
  color: rgba(0,0,0,0.3);
  width: 100%;
}
.footer-links {
  align-items: center;
  display: flex;
  justify-content: center;
}

.footersimple {
  background: white;
  justify-content: space-between;
  height: 150px;
  padding: 0px 20px;
  color: rgba(0,0,0,0.3);
  width: 100%;
}

.footer-links.border-footer {
  border-top-style: solid;
  border-width: thin;
  border-color: #D0D0D0;
}
.footer-links a {
  margin: 8px;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.img-footer {
  border-radius: 25%;
}

.contacts {
  color: black;
  font-weight: light;
}
