.navbar-lewagon {
  justify-content: space-between;
  background: $withu-purple;
}
.navbar-lewagon-black {
   justify-content: space-between;
  background: black;
}
.navbar-lewagon-black .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon-black .navbar-brand img {
  width: 40px;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

#home {
  color: white;
}

#iscriviti {
  color: white;
}
.nav-with-u {
   color: white;
}
