.purple-writing-desc h1{
  @media screen and (min-width: 500px) {
  }
  @media screen and (max-width: 500px) {
    font-size: 24px;
  }
}

.purple-writing-title h1{
  @media screen and (min-width: 500px) {
  }
  @media screen and (max-width: 500px) {
    font-size: 30px;
  }
}

.thin-writing {
  font-weight: lighter;
}

a .thin-writing {
  color: black;
  font-size: 20px;
  padding: 12px;
}

.purple-writing {
  @media screen and (min-width: 500px) {
    margin: 10px;
  }
  @media screen and (max-width: 500px) {
    font-size: 16px;
  }
}

a:hover {
  text-decoration: none !important;
  color: white;
}

.welcome-writing {
  animation: fadeIn ease 5s;
  color: gray;
  @media screen and (min-width: 500px) {
    margin-top: 30px;
    font-size: 30px;
 }
  @media screen and (max-width: 500px) {
    margin-top: 15px;
    font-size: 20px;
 }
}
